
body {
  background: blanchedalmond;
}

.container1 {
  display: flex;
  min-height: 99vh;
  flex-direction: column;
  row-gap: .5em;
}

.container1, .main, header, footer {
  border: 1px solid rgb(196, 18, 18);
  /* width: 100%; */
  text-align: center;
}

main, header, footer {
  font-size: 2em;
}

header, footer  {
  flex-grow: 1;
}


main {
  flex-grow:3;
}


@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: .5em;
  }
  header {
    flex-basis: 100%;

  }

  /* Not necessary but work: */
  /* main {
    flex-basis: 60%;
  }
  footer{
    flex-basis:25%
  } */
}
